@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Defining Variables */
:root {
  --primary-color: #0284c7;
}

body {
  font-family: 'Poppins', sans-serif;
}

hr {
  margin: 2rem 0;
}

/* Links */
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.link-primary {
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.5rem;
}
.link-secondry {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

/* list */

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  margin: 0 1rem;
}
