@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Defining Variables */
:root {
  --primary-color: #0284c7;
  --dark-grey: #334155;
  --off-white: #cbd5e1;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

hr {
  margin: 2rem 0;
}

/* Links */
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.link-primary {
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.5rem;
}
.link-secondry {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

/* list */
.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  margin: 0 1rem;
}

/* navigation */
.navbar {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.navbar a {
  color: white;
}

.navbar .nav-brand {
  font-weight: bold;
  font-size: large;
}

.navbar .nav-items {
  text-align: right;
}

.navbar .link-active {
  font-weight: bold;
}

/* Hero */
.hero {
  padding: 2rem;
  text-align: center;
}

.hero .hero-img {
  display: block;
  max-width: 300px;
  margin: auto;
}

.hero .hero-heading {
  color: var(--dark-grey);
}

/* section */
.section {
  /* padding: 1rem 2rem; */
}

/* container */
.container {
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.container-center {
  max-width: 400px;
  margin: auto;
}

.ow {
  background-color: var(--off-white);
}

/* common styles */
.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer a {
  color: white;
}

.footer ul {
  padding-inline-start: 0;
}
